---
import UnderlineSVG from '../../svgs/UnderlineSVG.astro';
import Lightbulb from '../../svgs/Lightbulb.astro';
import Circle from '../../svgs/Circle.astro';
import Whatsapp from '../../svgs/Whatsapp.astro';
---

<div
  class="flex flex-col md:flex-row-reverse md:justify-center md:items-center"
>
  <h1
    class="text-4xl text-center font-bold uppercase tracking-widest md:hidden"
  >
    Lidera tu
    <span class="text-primary-600 relative">
      vida
      <UnderlineSVG
        className="absolute right-0 bottom-1"
        width="w-[100px]"
        height="h-[3px]"
      />
      <UnderlineSVG
        className="absolute right-0 -bottom-1"
        width="w-[100px]"
        height="h-[3px]"
      />
    </span>
  </h1>

  <div class="flex justify-center mt-16 md:mt-0">
    <div
      class="relative w-[414px] lg:w-[514px] xl:w-[614px] hero-image-container"
    >
      <img
        src="/hero-image.webp"
        alt="imagen de portada de Felipe Pollitzer"
        width="876"
        height="862"
        class="hero-image relative z-50"
      />
      <Lightbulb
        class="absolute z-30 left-16 -top-12 w-36 h-48 lg:left-24 lg:w-44 lg:-top-10 xl:w-48 xl:left-36 xl:-top-6"
      />
      <Circle
        class="absolute z-30 left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 w-36 h-36 lg:w-44 lg:h-48 lg:-translate-x-28 lg:-translate-y-20 xl:w-56 xl:h-56 xl:-translate-x-32"
        stroke="#161616"
      />
      <Circle
        class="absolute z-30 left-1/2 top-1/2 -translate-y-32 translate-x-5 w-36 h-36 lg:w-44 lg:h-48 lg:translate-x-4 lg:-translate-y-40 xl:w-56 xl:h-56"
        stroke="#161616"
        />
      <Circle
        class="absolute z-30 left-1/2 top-1/2 -translate-y-16 translate-x-0 w-36 h-36 lg:w-44 lg:h-48 xl:w-56 xl:h-56"
        stroke="#161616"
        />
    </div>
  </div>

  <div class="flex flex-col items-center mx-8">
    <h1
      class="hidden text-4xl self-start font-bold uppercase tracking-widest md:block lg:text-5xl xl:text-6xl"
    >
      Lidera tu
      <span class="text-primary-600 relative">
        vida
        <UnderlineSVG
          className="absolute right-0 bottom-1"
          width="w-[100px] lg:w-[125px] xl:w-[185px]"
          height="h-[3px]"
        />
        <UnderlineSVG
          className="absolute right-0 -bottom-1"
          width="w-[100px] lg:w-[125px] xl:w-[185px]"
          height="h-[3px]"
        />
      </span>
    </h1>
    <h2
      class="text-left mt-10 text-xl sm:text-2xl md:self-start lg:mt-12 lg:text-3xl xl:text-4xl"
    >
      Coaching para alcanzar tus <br /><span class="text-primary-600"
        >metas</span
      > y vivir con <span class="text-primary-600">propósito</span>
    </h2>
    <div class="flex gap-4 md:self-start">
      <button
        class="w-[280px] sm:w-[340px] md:w-[200px] md:self-start text-lg xl:text-2xl mt-8 bg-primary-500 hover:bg-primary-600 transition-colors py-2 rounded-md text-white lg:mt-12"
        >Contacto</button
      >
      <a target="_blank" href="https://wa.me/541133961603" class="hidden border md:flex items-center justify-center px-4 py-1 mt-8 rounded-md lg:mt-12 hover:bg-gray-100 transition-colors cursor-pointer"><Whatsapp stroke="#2c3e50" class="w-[36px] h-[36px]" /></a>
    </div>

  </div>
</div>

<style>
  .hero-image {
    mask-image: linear-gradient(black 85%, transparent);
  }

  .hero-image-container::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    height: 270px;
    width: 270px;
    background: radial-gradient(
      circle,
      rgba(255, 229, 207, 0.6) 0%,
      rgba(251, 171, 126, 0.8) 40%,
      rgba(251, 171, 126, 1) 70%
    );
    border-radius: 50%;
    filter: blur(10px);
    transform: translate(-50%, -87%);
    z-index: 0;
    border-radius: 100%;
  }

  @media (min-width: 1024px) {
    .hero-image-container::after {
      height: 310px;
      width: 310px;
    }
  }

  @media (min-width: 1280px) {
    .hero-image-container::after {
      height: 350px;
      width: 350px;
    }
  }
</style>
