---
import UnderlineSVG from '../../svgs/UnderlineSVG.astro';
import Lightbulb from '../../svgs/Lightbulb.astro';
import Circle from '../../svgs/Circle.astro';
import Whatsapp from '../../svgs/Whatsapp.astro';
import { Image } from 'astro:assets';
---

<div
  class="flex flex-col md:flex-row-reverse md:justify-center md:items-center mx-auto max-w-screen-xl px-8"
>
  <h1
    class="text-4xl text-center font-bold uppercase tracking-widest md:hidden"
  >
    Lidera tu
    <span class="text-primary-600 relative">
      vida
      <UnderlineSVG
        className="absolute right-0 bottom-1"
        width="w-[100px]"
        height="h-[3px]"
      />
      <UnderlineSVG
        className="absolute right-2 -bottom-1"
        width="w-[83px]"
        height="h-[3px]"
      />
    </span>
  </h1>

  <div class="basis-1/2 flex justify-center mt-16 md:mt-0 lg:basis-4/12">
    <div
      class="relative w-[350px] lg:w-[450px] xl:w-[500px] hero-image-container"
    >
      <Image
        loading="eager"
        fetchpriority='high'
        src="/hero-image2.webp"
        alt="imagen de portada de Felipe Pollitzer"
        width={631}
        height={862}
        class="hero-image relative z-50"
      />
      <Lightbulb
        class="absolute z-30 left-16 -top-12 w-36 h-48 lg:left-24 lg:w-44 lg:-top-10 xl:w-48 xl:left-26 xl:-top-6"
      />
      <Circle
        class="absolute z-30 left-1/2 top-1/2 -translate-x-24 -translate-y-1/2 w-36 h-36 lg:w-44 lg:h-48 lg:-translate-x-32 lg:-translate-y-20 xl:w-56 xl:h-56 xl:-translate-x-40"
        stroke="#161616"
      />
      <Circle
        class="absolute z-30 left-1/2 top-1/2 -translate-y-32 translate-x-6 w-36 h-36 lg:w-44 lg:h-48 lg:translate-x-4 lg:-translate-y-44 xl:w-56 xl:h-56"
        stroke="#161616"
      />
      <Circle
        class="absolute z-30 left-1/2 top-1/2 -translate-y-12 translate-x-10 w-36 h-36 lg:w-44 lg:h-48 lg:translate-x-10 xl:w-56 xl:h-56 xl:translate-x-6"
        stroke="#161616"
      />
    </div>
  </div>

  <div
    id="about-text-desktop"
    class="basis-1/2 flex flex-col items-center lg:basis-8/12"
  >
    <h1
      class="hidden text-5xl self-start font-bold uppercase tracking-widest md:block lg:text-6xl xl:text-7xl"
    >
      Lidera tu
      <span class="text-primary-600 relative">
        vida
        <UnderlineSVG
          className="absolute right-0 xl:bottom-3"
          width="w-[145px] lg:w-[205px] xl:w-[260px]"
          height="h-[3px]"
        />
        <UnderlineSVG
          className="absolute right-2 lg:right-4 xl:right-6 bottom-0"
          width="w-[120px] lg:w-[140px] xl:w-[185px]"
          height="h-[3px]"
        />
      </span>
    </h1>
    <h2
      class="text-left text-balance mt-10 text-xl sm:text-2xl md:self-start lg:mt-12 lg:text-3xl xl:text-4xl font-light"
    >
      Coaching para alcanzar tus <br class="md:hidden" /><span
        class="text-primary-600">metas</span
      > y vivir con <span class="text-primary-600">propósito</span>
    </h2>
    <div class="flex gap-4 md:self-start">
      <a href="#contact-section">
        <button
          class="w-[280px] sm:w-[340px] md:w-[200px] md:self-start text-lg xl:text-2xl mt-8 bg-primary-500 hover:bg-primary-600 transition-colors py-2 rounded-md text-white lg:mt-12"
          >Contacto</button
        >
      </a>
      <a
        target="_blank"
        href="https://wa.me/541133961603"
        aria-label="Contactar por WhatsApp"
        class="hidden border md:flex items-center justify-center px-4 py-1 mt-8 rounded-md lg:mt-12 hover:bg-gray-100 transition-colors cursor-pointer"
        ><Whatsapp stroke="#2c3e50" class="w-[36px] h-[36px]" /></a
      >
    </div>
  </div>
</div>

<style>
  
  .hero-image {
    mask-image: linear-gradient(black 85%, transparent);
  }

  .hero-image-container::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    height: 270px;
    width: 270px;
    background: radial-gradient(
      circle,
      rgba(255, 229, 207, 0.6) 0%,
      rgba(251, 171, 126, 0.8) 40%,
      rgba(251, 171, 126, 1) 70%
    );
    border-radius: 50%;
    filter: blur(10px);
    transform: translate(-50%, -87%);
    z-index: 0;
    border-radius: 100%;
  }

  @media (min-width: 1024px) {
    .hero-image-container::after {
      height: 340px;
      width: 340px;
    }
  }

  @media (min-width: 1280px) {
    .hero-image-container::after {
      height: 400px;
      width: 400px;
    }
  }
</style>
