---
import Instagram from "../../svgs/Instagram.astro";
import Linkedin from "../../svgs/Linkedin.astro";
import Whatsapp from "../../svgs/Whatsapp.astro";

// import MailSent from '../svgs/MailSent.astro';
---

<style>
  @keyframes slideInBottom {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes slideOutRight {
    from {
      transform: translateX(0);
      opacity: 1;
    }
    to {
      transform: translateX(100%);
      opacity: 0;
    }
  }

  .show-toast {
    animation: slideInBottom 0.5s forwards;
  }

  .hide-toast {
    animation: slideOutRight 0.5s forwards;
  }
</style>

<div
  id="toast"
  class="hidden fixed bottom-4 right-4 p-6 bg-white rounded-lg flex items-center gap-4 border shadow-xl"
>
  <!-- <MailSent /> -->
  Mensaje enviado con éxito!
</div>

<form
  id="contact-form"
  class="flex flex-col p-4 md:p-7 rounded-3xl border bg-[#FFFFFF] max-w-[510px] w-full basis-2/4"
  novalidate
>
  <label for="name" class="ml-2">Nombre</label>
  <input
    class="p-2 rounded-lg border border-[#ccd0c5] focus:outline-dashed focus:outline-primary-400"
    type="text"
    id="name"
    name="name"
  />
  <span id="name-error" class="text-xs text-red-600 mt-1 ml-2"></span>

  <label for="email" class="ml-2 mt-4">Email</label>
  <input
    class="p-2 rounded-lg border border-[#ccd0c5] focus:outline-dashed focus:outline-primary-400"
    type="email"
    id="email"
    name="email"
  />
  <span id="email-error" class="text-xs text-red-600 mt-1 ml-2"></span>

  <label for="message" class="ml-2 mt-4">Mensaje</label>
  <textarea
    class="p-2 rounded-lg border border-[#ccd0c5] focus:outline-dashed focus:outline-primary-400 resize-none"
    id="message"
    name="message"></textarea>
  <span id="message-error" class="text-xs text-red-600 mt-1 ml-2"></span>

  <div class="flex items-center justify-between mt-4">
    <button
      type="submit"
      class="px-8 py-2 rounded-lg text-white text-xl bg-primary-500 hover:bg-primary-600 transition-colors"
      >Enviar</button
    >
    <div class="flex items-center justify-center gap-5">
      <a
        target="_blank"
        href="https://wa.me/541133961603"
        aria-label="Contactar por WhatsApp"><Whatsapp stroke="#2c3e50" /></a
      >
      <a
        target="_blank"
        href="https://www.instagram.com/felipe.pollitzer/"
        aria-label="Visitar perfil de Instagram"
        ><Instagram stroke="#2c3e50" /></a
      >
      <a
        target="_blank"
        href="https://www.linkedin.com/in/felipe-pollitzer-917586188/"
        aria-label="Visitar perfil de LinkedIn"><Linkedin stroke="#2c3e50" /></a
      >
    </div>
  </div>
</form>

<script>
  document.getElementById('contact-form').addEventListener('submit', (e) => {
    e.preventDefault();

    const form = document.getElementById('contact-form') as HTMLFormElement;
    const toast = document.getElementById('toast') as HTMLDivElement;

    const name = (
      document.getElementById('name') as HTMLInputElement
    ).value.trim();
    const nameError = document.getElementById('name-error');
    const email = (
      document.getElementById('email') as HTMLInputElement
    ).value.trim();
    const emailError = document.getElementById('email-error');
    const message = (
      document.getElementById('message') as HTMLTextAreaElement
    ).value.trim();
    const messageError = document.getElementById('message-error');

    let isValid = true;

    if (name === '') {
      nameError.textContent = 'El nombre es obligatorio.';
      isValid = false;
    } else if (!validateName(name)) {
      nameError.textContent = 'Introduce un nombre válido.';
      isValid = false;
    } else {
      nameError.textContent = '';
    }

    if (email === '') {
      emailError.textContent = 'El correo es obligatorio.';
      isValid = false;
    } else if (!validateEmail(email)) {
      emailError.textContent = 'Correo inválido.';
      isValid = false;
    } else {
      emailError.textContent = '';
    }

    if (message === '') {
      messageError.textContent = 'El mensaje es obligatorio.';
      isValid = false;
    } else {
      messageError.textContent = '';
    }

    if (isValid) {
      async function submitFormData() {
        try {
          const response = await fetch(import.meta.env.PUBLIC_APPS_SCRIPT_URL, {
            redirect: 'follow',
            method: 'POST',
            headers: {
              'Content-Type': 'text/plain;charset=utf-8',
            },
            body: JSON.stringify({
              name,
              email,
              message,
            }),
          });

          const data = await response.json();

          form.reset();

          toast.classList.remove('hidden');
          toast.classList.add('show-toast');

          setTimeout(() => {
            toast.classList.remove('show-toast');
            toast.classList.add('hide-toast');
            setTimeout(() => {
              toast.classList.add('hidden');
              toast.classList.remove('hide-toast');
            }, 500);
          }, 3000);
        } catch (error) {
          console.error('Error:', error);
        }
      }

      submitFormData();
    }
  });

  function validateName(name: string) {
    const re = /^[a-zA-Z\s]+$/;
    return re.test(name);
  }

  function validateEmail(email: string) {
    const re = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
    return re.test(email);
  }
</script>
