---
import Card from "./Card.astro";
import Circle from "../../svgs/Circle.astro";
import Rectangle from "../../svgs/Rectangle.astro";

const cardContent = [
  {
    keyword: 'Explora',
    title: 'tu potencial',
    description:
      'No es solo una llamada, es el primer paso hacia una vida más plena y auténtica.',
    subdescription: 'Te invito a una charla para conectar y conocerte mejor.',
    button: 'Explorar',
    background: '/explore-illustration.webp'
  },
  {
    keyword: 'Fija',
    title: 'objetivos',
    description:
      'No se trata solo de metas, sino de definir el camino hacia la vida que deseas.',
    subdescription:
      'Te invito a trazar un plan que te inspire a seguir adelante.',
    button: 'Fijar',
    background: '/fix-illustration.webp'
  },
  {
    keyword: 'Planifica',
    title: 'la acción',
    description: 'El puente entre tus sueños y tu realidad. Es hora de tener el control de tu vida.',
    subdescription:
      'Diseñaremos un plan de acción claro para que cada paso que des te acerque más a tus metas.',
    button: 'Accionar',
    background: '/plan-illustration.webp'
  },
];
---

<section id="coaching-section" class="bg-[#FFE5CF]">
  <div class="pt-20 pb-40 max-w-screen-xl mx-auto overflow-x-hidden md:overflow-x-visible">
    <h2 class="text-center text-4xl md:text-5xl font-bold uppercase tracking-wide">
      Coaching
    </h2>
    <div class="relative flex flex-col items-center justify-center mt-20 gap-y-10 md:flex-row md:gap-x-5 lg:gap-x-10 xl:gap-x-20">
      <Rectangle class="absolute rotate-12 -top-10 md:-top-32 -left-40 bg-[#FF885B] opacity-10 rounded-3xl"/>
      <Circle class="absolute -right-16 md:right-20 lg:right-72 xl:right-96 md:-top-40 fill-[#FF885B] opacity-10" stroke="none" />
      <Rectangle class="absolute w-44 h-56 rotate-135 -bottom-28 right-60 xl:right-96 bg-[#FF885B] opacity-10 rounded-3xl"/>
      {cardContent.map(card => <Card card={card} />)}
    </div>
  </div>
</section>

