---
import Instagram from "../../svgs/Instagram.astro";
import Linkedin from "../../svgs/Linkedin.astro";
import Logo from "../../svgs/Logo.astro";
import Whatsapp from "../../svgs/Whatsapp.astro";
---

<footer class="bg-[#2B2B2B] text-[#FFFFFF] py-10">
  <div class="max-w-screen-xl mx-auto">
  <div class="flex items-center justify-center gap-10 md:hidden">
    <div class="flex flex-col gap-4 text-lg">
      <a href="#navigation-container">Inicio</a>
      <a href="#coaching-section">Coaching</a>
    </div>
    <div class="flex flex-col gap-4 text-lg">
      <a href="#about-section">Sobre Mí</a>
      <a href="#contact-section">Contacto</a>
    </div>
  </div>
  <div class="flex justify-between mt-8 mx-6 md:mt-0 md:mx-10">
    <span class="w-[176px] ">
      <Logo fill="#FFF" />
    </span>

    <div class="hidden items-center justify-center gap-10 md:flex">
      <div class="flex flex-col gap-4 text-lg">
        <a href="#navigation-container">Inicio</a>
        <a href="#coaching-section">Coaching</a>
      </div>
      <div class="flex flex-col gap-4 text-lg">
        <a href="#about-section">Sobre Mí</a>
        <a href="#contact-section">Contacto</a>
      </div>
    </div>

    <div class="flex items-center justify-center gap-5">
      <a target="_blank" href="https://wa.me/541133961603" aria-label="Contactar por WhatsApp"><Whatsapp stroke="#FFFFFF" /></a>
    <a target="_blank" href="https://www.instagram.com/felipe.pollitzer/" aria-label="Visitar perfil de Instagram"><Instagram stroke="#FFFFFF" /></a>
    <a target="_blank" href="https://www.linkedin.com/in/felipe-pollitzer-917586188/" aria-label="Visitar perfil de LinkedIn"><Linkedin stroke="#FFFFFF" /></a>
    </div>
  </div>
</div>
  <hr class="my-6 border-gray-400 mx-10 xl:mx-auto max-w-screen-xl lg:my-8 " />
  <span class="block text-sm text-gray-400 text-center">© 2024 <a href="https://www.linkedin.com/in/juan-marcos-speroni/" target="_blank" class="hover:underline">Juan Speroni™</a>. Todos los derechos reservados.</span>
</footer>
