---
import Instagram from "../../svgs/Instagram.astro";
import Linkedin from "../../svgs/Linkedin.astro";
import Whatsapp from "../../svgs/Whatsapp.astro";

---

<nav
  id="mobile-navigation"
  class="hidden animate-zoom-in my-4 text-2xl flex flex-col gap-5 text-center px-6 h-screen"
>
  <hr
    class="h-[2px] w-full border-t-0"
    style="background:linear-gradient(to right, transparent 0%, black 50%, transparent 100%)"
  />
  <div class="flex justify-center">
    <h4 class="font-crimson text-4xl my-4 relative">
      Felipe Pollitzer 
      <!-- <UnderlineSVG
        className="absolute -bottom-2 right-0 mt-2"
        width="w-[250px]"
        height="h-[4px]"
      /> -->
    </h4>
  </div>

  <hr
    class="h-[2px] w-full border-t-0"
    style="background:linear-gradient(to right, transparent 0%, black 50%, transparent 100%)"
  />
  <a href="#coaching-section">Coaching</a>
  <hr
    class="h-[2px] w-full border-t-0"
    style="background:linear-gradient(to right, transparent 0%, black 50%, transparent 100%)"
  />
  <a href="#about-section">Sobre mí</a>
  <hr
    class="h-[2px] w-full border-t-0"
    style="background:linear-gradient(to right, transparent 0%, black 50%, transparent 100%)"
  /><a href="#contact-section" class="">Contacto</a>
  <hr
    class="h-[2px] w-full border-t-0"
    style="background:linear-gradient(to right, transparent 0%, black 50%, transparent 100%)"
  />
  <div class="flex items-center justify-center mt-4 gap-5">
    <a
      target="_blank"
      href="https://wa.me/541133961603"
      aria-label="Contactar por WhatsApp"><Whatsapp stroke="#4A6D46" /></a
    >
    <a
      target="_blank"
      href="https://www.instagram.com/felipe.pollitzer/"
      aria-label="Visitar perfil de Instagram"><Instagram stroke="#4A6D46" /></a
    >
    <a
      target="_blank"
      href="https://www.linkedin.com/in/felipe-pollitzer-917586188/"
      aria-label="Visitar perfil de LinkedIn"><Linkedin stroke="#4A6D46" /></a
    >
  </div>
</nav>

<script>
  const nav = document.getElementById('mobile-navigation');
  const button = document.querySelector('button');
  const main = document.getElementById('main-container');

  const anchorLinks = nav.querySelectorAll('a');

  anchorLinks.forEach((anchor) => {
    anchor.addEventListener('click', () => {
      setTimeout(() => {
        button.setAttribute('data-state', 'closed');
        button.setAttribute('aria-expanded', 'false');
        nav.classList.add('hidden');
        main.classList.remove('hidden');
        document.body.classList.remove('overflow-hidden');
      }, 800);
    });
  });
</script>
